 
<section>
    <h1>Nazwa aplikacji</h1>
    <p>Krótki opis aplikacji: Aplikacja do odtwarzania wielu wideo jednocześnie z synchronizowanym odtwarzaniem i prostym interfejsem użytkownika.</p>
    <ul>
        <li>Odtwarzanie wielu wideo jednocześnie.</li>
        <li>Globalne sterowanie odtwarzaniem (play/pause).</li>
        <li>Synchronizacja postępu odtwarzania między wszystkimi wideo.</li>
        <li>Możliwość przeskakiwania do określonego momentu w odtwarzaniu.</li>
        <li>Wyświetlanie czasu trwania oraz postępu odtwarzania.</li>
    </ul>
</section>
 