 
<section>
    <h1>Nazwa aplikacji: Multi Video Player</h1>
    <p>Multi Video Player to aplikacja, która umożliwia odtwarzanie wielu filmów jednocześnie z synchronizacją ich odtwarzania oraz nawigacją między nimi.</p>
    <ul>
        <li>Odtwarzanie wielu filmów równocześnie</li>
        <li>Synchronizacja czasu odtwarzania między wszystkimi filmami</li>
        <li>Możliwość ustawienia jednego filmu jako głównego</li>
        <li>Łatwe sterowanie odtwarzaniem za pomocą przycisku "Play All" i suwaka postępu</li>
        <li>Wyświetlanie wydarzeń zmiany głównego filmu w formacie JSON</li>
    </ul>
</section>
 