 
<section>
    <h1>Nazwa aplikacji</h1>
    <p>Ta aplikacja to MultiVideoPlayer, który pozwala na synchronizację odtwarzania kilku filmów wideo jednocześnie.</p>
    <ul>
        <li>Odtwarza wiele wideo w synchronizacji.</li>
        <li>Umożliwia zmianę głównego wideo przez kliknięcie na dowolny film.</li>
        <li>Śledzi postęp odtwarzania i synchronizuje czas dla wszystkich wideo.</li>
        <li>Zapisuje stan odtwarzania (postęp, główne wideo) w localStorage.</li>
        <li>Wyświetla listę wydarzeń z pełnymi nazwami wideo oraz czasami odtwarzania.</li>
        <li>UI jest przejrzyste i intuicyjne, bez podglądu głównego wideo.</li>
    </ul>
</section>
 