 
<section>
    <h1>Nazwa aplikacji</h1>
    <p>Aplikacja pozwala na jednoczesne odtwarzanie kilku filmów wideo z jednego sterownika.</p>
    <ul>
        <li>Możliwość jednoczesnego odtwarzania i pauzowania wszystkich filmów.</li>
        <li>Synchronizacja czasu odtwarzania dla wszystkich filmów.</li>
        <li>Indywidualne sterowanie każdego filmu poprzez jego własne kontrolki HTML.</li>
        <li>Prosty interfejs z suwakiem do regulacji postępu odtwarzania.</li>
        <li>Wykorzystanie TypeScript dla lepszej typizacji i bezpieczeństwa kodu.</li>
        <li>Łatwe dostosowywanie listy filmów poprzez edytowanie adresów URL.</li>
        <li>Obsługuje zdarzenia zakończenia odtwarzania dla synchronizacji stanu.</li>
    </ul>
</section>
 