 
<section>
    <h1>Nazwa aplikacji: MultiVideoPlayer</h1>
    <p>Krótki opis aplikacji: Aplikacja MultiVideoPlayer umożliwia odtwarzanie wielu filmów jednocześnie, synchronizując ich wideo oraz zachowując postęp odtwarzania. Użytkownicy mogą wybierać główny film, a aplikacja zapamiętuje jego stan.</p>
    <ul>
        <li>Odtwarzanie wielu filmów w tym samym czasie.</li>
        <li>Synchronizacja postępu odtwarzania między filmami.</li>
        <li>Możliwość wyboru głównego filmu do odtwarzania.</li>
        <li>Automatyczne zapamiętywanie ostatnich odtwarzanych filmów i ich postępu.</li>
        <li>Możliwość dostosowania postępu za pomocą suwaka.</li>
        <li>Wyświetlanie historii odtwarzania z czasami zaczęcia i końca dla poszczególnych filmów.</li>
    </ul>
</section>
 