 
<section>
    <h1>Multi Video Player</h1>
    <p>Aplikacja do odtwarzania wielu filmów jednocześnie, z możliwością wyboru głównego wideo oraz synchronizowania ich czasu odtwarzania.</p>
    <ul>
        <li>Odtwarzanie wielu filmów w tym samym czasie</li>
        <li>Synchronizacja czasu odtwarzania wszystkich filmów</li>
        <li>Możliwość ustalenia głównego filmu, którego czas odtwarzania służy jako ostateczne odniesienie</li>
        <li>Wyświetlanie aktualnego czasu odtwarzania oraz całkowitego czasu trwania filmów</li>
        <li>Zapisywanie stanu aplikacji w lokalnej pamięci przeglądarki</li>
        <li>Interaktywny pasek postępu do ręcznego przeskakiwania wideo</li>
        <li>Podgląd miniatur filmów, które można kliknąć, by ustawić jako główny</li>
        <li>Wyświetlanie timeline'u zdarzeń dla głównego filmu</li>
    </ul>
</section>
 