 
<section>
    <h1>Nazwa aplikacji</h1>
    <p>Aplikacja jest odtwarzaczem wielu filmów wideo, który umożliwia zarządzanie odtwarzaniem wideo w czasie rzeczywistym, synchronizując różne filmy w jednym interfejsie.</p>
    <ul>
        <li>Odtwarzaj i zatrzymuj wszystkie filmy jednocześnie.</li>
        <li>Wybieraj główny film z zestawu za pomocą kliknięcia.</li>
        <li>Śledź postęp odtwarzania za pomocą suwaka.</li>
        <li>Przechowuj stan aplikacji w localStorage dla późniejszego przywracania.</li>
        <li>Wyświetlaj wszystkie filmy w wizualizacji "Master Preview", gdzie tylko jeden film jest widoczny.</li>
        <li>Obsługuje zdarzenia związane z odtwarzaniem, takie jak "play" i "pause".</li>
        <li>Automatycznie synchronizuje czas między filmami.</li>
    </ul>
</section>
 