 
<section>
    <h1>Nazwa aplikacji</h1>
    <p>Aplikacja to zaawansowany odtwarzacz wielowideo, który umożliwia jednoczesne odtwarzanie wielu filmów oraz płynne przełączanie między nimi w oparciu o ustalone wydarzenia czasowe.</p>
    <ul>
        <li>Odtwarzanie wielu filmów w tym samym czasie bez opóźnień i migotania.</li>
        <li>Synchronizacja czasu odtwarzania wszystkich video.</li>
        <li>Możliwość wybierania i ustawiania głównego wideo na podstawie zdarzeń czasowych.</li>
        <li>Historyzacja wydarzeń czasowych z informacjami o odtwarzanym wideo i czasie rozpoczęcia odtwarzania.</li>
        <li>Stabilne referencje do elementów odtwarzacza zapobiegające niepotrzebnym przerywaniom.</li>
        <li>Minimalne zużycie zasobów dzięki zoptymalizowanej logice stanu.</li>
        <li>Możliwość kontynuowania odtwarzania po ponownym załadowaniu aplikacji dzięki przechowywaniu stanu w localStorage.</li>
    </ul>
</section>
 