 
<section>
    <h1>Kółko-krzyżyk</h1>
    <p>Aplikacja Kółko-krzyżyk to interaktywna gra dla dwóch graczy, która pozwala na rywalizację w klasycznej rozgrywce w kółko-krzyżyk. Gracze na zmianę zaznaczają swoje pola na planszy, aż jeden z nich wygra lub gra się zakończy remisem.</p>
    <ul>
        <li>Intuicyjny interfejs użytkownika, który pozwala łatwo zrozumieć zasady gry.</li>
        <li>Możliwość rozgrywki dla dwóch graczy.</li>
        <li>Dynamika gry z natychmiastowym wykrywaniem zwycięzcy.</li>
        <li>Reaktywność interfejsu, umożliwiająca płynne i wciągające doświadczenie.</li>
        <li>Prosta i responsywna konstrukcja zapewniająca dostępność na różnych urządzeniach.</li>
        <li>Możliwość wyświetlania aktualnego statusu gry (kto gra i kto wygrał).</li>
    </ul>
</section>
 