 
<section>
    <h1>Kółko i Krzyżyk</h1>
    <p>Aplikacja umożliwia grę w kółko i krzyżyk w ramach prostego interfejsu użytkownika, gdzie dwóch graczy na zmianę stawia swoje symbole na planszy.</p>
    <ul>
        <li>Wykrywa zwycięzcę na podstawie układu symboli na planszy.</li>
        <li>Obsługuje możliwość remisu, kiedy wszystkie pola są zajęte.</li>
        <li>Umożliwia resetowanie gry po zakończeniu rozgrywki.</li>
        <li>Wizualizuje aktualny stan gry oraz informuje o turze gracza.</li>
        <li>Prosty i przejrzysty interfejs użytkownika.</li>
        <li>Typy TypeScript dla funkcji i stanu aplikacji.</li>
        <li>Przycisk resetowania zawsze widoczny.</li>
        <li>Historia gier zapisywana w localStorage.</li>
        <li>Lista wcześniejszych gier w tabeli pod planszą.</li>
        <li>Pamięta zwycięzcę po odświeżeniu strony.</li>
    </ul>
    <ul>
        <li>Dodano TypeScript dla lepszej typizacji.</li>
        <li>Zmieniono sposób resetowania gry, przycisk jest zawsze widoczny.</li>
        <li>Dodano funkcjonalność zapisywania wyników gier w localStorage.</li>
        <li>Wprowadzono tabelę z historią gier, pokazującą datę, zwycięzcę i liczbę ruchów.</li>
        <li>Pamięta zwycięzcę rozgrywki między odświeżeniami strony.</li>
    </ul>
</section>
 