 
<section>
    <h1>Kółko i Krzyżyk</h1>
    <p>Aplikacja umożliwia grę w kółko i krzyżyk w ramach prostego interfejsu użytkownika, gdzie dwóch graczy na zmianę stawia swoje symbole na planszy. Oferuje nowe funkcje, takie jak personalizacja imion graczy i responsywny design.</p>
    <ul>
        <li>Wykrywa zwycięzcę na podstawie układu symboli na planszy.</li>
        <li>Obsługuje możliwość remisu, kiedy wszystkie pola są zajęte.</li>
        <li>Umożliwia resetowanie gry po zakończeniu rozgrywki.</li>
        <li>Wizualizuje aktualny stan gry oraz informuje o turze gracza.</li>
        <li>Prosty i przejrzysty interfejs użytkownika.</li>
        <li>Typy TypeScript dla funkcji i stanu aplikacji.</li>
        <li>Przycisk resetowania zawsze widoczny.</li>
        <li>Historia gier zapisywana w localStorage, w tym imiona graczy i wyniki.</li>
        <li>Lista wcześniejszych gier w tabeli pod planszą, z kolorowym wyświetlaniem nazwisk graczy.</li>
        <li>Pamięta zwycięzcę po odświeżeniu strony.</li>
        <li>Umożliwia nadawanie imion graczom i ich późniejszą edycję.</li>
        <li>Responsywna obsługa na urządzeniach mobilnych.</li>
    </ul>
    <ul>
        <li>Dodano możliwośc wprowadzania i edytowania imion graczy.</li>
        <li>Dodano kolorowe wyświetlanie symboli graczy na planszy i w podsumowaniu.</li>
        <li>Stałe przyciski resetowania oraz zapis wyników z nazwami graczy w localStorage.</li>
        <li>Wprowadzono tabelę z historią gier, pokazującą datę, zwycięzcę i liczbę ruchów.</li>
        <li>Pamięta zwycięzcę rozgrywki między odświeżeniami strony oraz zawiera bardziej przejrzysty interfejs.</li>
    </ul>
</section>
 