 
<section>
    <h1>Kółko i Krzyżyk</h1>
    <p>Aplikacja umożliwia grę w kółko i krzyżyk w ramach prostego interfejsu użytkownika, gdzie dwóch graczy na zmianę stawia swoje symbole na planszy.</p>
    <ul>
        <li>Wykrywa zwycięzcę na podstawie układu symboli na planszy.</li>
        <li>Obsługuje możliwość remisu, kiedy wszystkie pola są zajęte.</li>
        <li>Umożliwia resetowanie gry po zakończeniu rozgrywki.</li>
        <li>Wizualizuje aktualny stan gry oraz informuje o tury gracza.</li>
        <li>Prosty i przejrzysty interfejs użytkownika.</li>
    </ul>
</section>
 