 
<section>
    <h1>Kółko-krzyżyk</h1>
    <p>Aplikacja umożliwia grę w klasyczną grę planszową kółko-krzyżyk, w której dwóch graczy na zmianę wstawia swoje znaki na planszy.</p>
    <ul>
        <li>Umożliwia grę dla dwóch graczy.</li>
        <li>Obsługuje logikę gry i wyświetla aktualny stan rozgrywki.</li>
        <li>Informuje o zwycięzcy po zakończeniu gry.</li>
        <li>Zablokowuje możliwość klikania na zajęte pola lub po zakończeniu gry.</li>
        <li>Prosty interfejs przyjazny użytkownikowi.</li>
    </ul>
</section>
 